.nav.nav-pills{
    margin-top: 5%;
}

.nav.nav-pills > li {
    border-radius: 5px;
}

.nav.nav-pills > li > a {
    font-size: 1.2em;
    color: #FFF;
    background-color: #FF2134;
    border: 1px solid #FF2134;
    transition: background-color 0.5s;
}

.nav.nav-pills > li > a:hover {
    color: #FF2134;
    background-color: #FFF;
    border: 1px solid #FF2134;
    transition: background-color 0.5s;
}

.img-header {
    width: 25%;
    height: 500%;
    box-shadow: 1px 1px 3px #000;
    margin-top: 5%;

}

.header-class {
    float:left;
}